/* Variáveis */

:root {
  --cor-bg-icon: #ededed;
  --cor-principal: #0086b3;
}

/* Html tags */
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url('/img/double-bubble-outline.png');
}

/* Gerais */

.bg-primario {
  background: var(--cor-principal);
}

.btn-block {
  display: block;
  width: 100%;
}

/* Buttons */

.btn-action {
  color: white;
}

.btn-action:hover {
  color: white;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: white;
}

header i {
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  position: absolute;
  top: 0;
  left: -250px;

  height: 100%;
  width: 250px;
  background-color: red;
  transition: 1s;
}

.sidebar-all-page {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  display: none;
}

/* Index */
.index-bg {
  width: 100%;
  height: 100%;

  background: url("/img/dog-bg.jpg") no-repeat center center fixed;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  padding: 20px;
  background: white;
  width: 300px;
  border-radius: 10px;
}

.login label {
  font-size: 0.8rem;
}

.box-icon {
  text-align: center;
}

.box-icon i {
  background-color: var(--cor-bg-icon);
  border-radius: 100%;
  padding: 10px;
  color: var(--cor-principal);
}